header {

    background-color: slategrey;
    font-family: fantasy;
    font-size: 20px;
    color: darkred;
}

body {
    /* margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */

}

/* .box_container {

    width: 75%;
    height: 85%;
    background-color: #ffffff; 
}

*/

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    background-color: silver;
    color: aquamarine;

    border-style: outset;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

}

.SABUL {

    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    color: aquamarine;


}

#tmntDiv {

    margin-left: 2%;
}