@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


header {

    background-color: slategrey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    font-family: "Rampart One", cursive;
    font-size: 20px;
    color: darkred;

}

body {

    font-family: "Rampart One", cursive;
    width: 100%;
    /* margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */

}

footer h4 {
    border: 100px solid black;
    border-top: 20px solid darkred;
    border-bottom: 20px solid darkred;
    margin: 0;
    max-width: 100%;
    padding-bottom: 5px;
}

.box_container {

    display: grid;
    align-items: flex-start;
    margin-bottom: 10%;

}

.inventory_container {
    display: flow-root;
}


/* #mysteryBoxProduct1 {

    font-size: 20px;
    color: slategray;

} */

#officeDiv {

    display: flex;
    align-items: left;

}

#tmntDiv {

    display: flex;
    margin-right: 5%;
}


#rnmDiv {

    display: flex;
    align-items: left;
}

#animeDiv {
    display: flex;
}



nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    background-color: silver;
    color: aquamarine;

    border-style: outset;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

}

.SABUL {

    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    color: aquamarine;


}

#tmntDiv {

    margin-left: 2%;
}



#OfficeDiv h4 {


    margin-left: 25%;
}

#description2 h4 {

    margin-left: 25%
}

@media (max-width: 1279px) {

    footer {

        grid-template-columns: 1fr 1fr;
    }


    @media (max-width: 768px) {


        header {

            grid-template-columns: 1fr;

        }

        footer {

            padding: 25px;
            text-align: center;


        }

        footer ul {

            list-style: none;

        }

        footer h4 {

            border-bottom: none;

        }
    }
}