header {

    background-color: slategray;
    font-family: fantasy;
    font-size: 20px;
    font-variant-east-asian: ruby;
    color: darkred;
}



nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    background-color: silver;
    color: aquamarine;

    border-style: outset;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

}

.SABUL {

    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    color: aquamarine;


}

#custom_box {
    margin-left: 10%;
    margin-top: 10%;
    margin-block-end: 50%;
    display: flex;
    grid-template-columns: 1 fr 1fr;

}

#item_name {
    margin-left: 1%;

}

#selectbox {
    margin-right: 2%;
}

#price {
    margin-left: 1%;
}

#stock {

    margin-left: 1%;
}

.h2_title {

    font-size: 50px;
    font-family: fantasy;
    font-style: italic;
    color: darkred;
}

@media (max-width: 1279px) {

    footer {

        grid-template-columns: 1fr 1fr;
    }


    @media (max-width: 768px) {


        header {

            grid-template-columns: 1fr;

        }

        footer {

            padding: 25px;
            text-align: center;


        }

        footer ul {

            list-style: none;

        }

        footer h4 {

            border-bottom: none;

        }
    }
}