header {

    background-color: slategray;
    font-family: fantasy;
    font-size: 20px;
    color: darkred;
}



nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    background-color: silver;
    color: aquamarine;

    border-style: outset;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

}

.SABUL {

    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    color: aquamarine;


}

@media (max-width: 1279px) {

    footer {

        grid-template-columns: 1fr 1fr;
    }


    @media (max-width: 768px) {


        header {

            grid-template-columns: 1fr;

        }

        footer {

            padding: 25px;
            text-align: center;


        }

        footer ul {

            list-style: none;

        }

        footer h4 {

            border-bottom: none;

        }
    }
}