* {
    border-style: initial;
    border-color: chocolate;
    border-radius: 3px;

}

header {

    background-color: slategray;
    font-family: fantasy;
    font-size: 20px;
    color: darkred;
}



nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    background-color: silver;
    color: aquamarine;

    border-style: outset;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

}

.SABUL {

    display: inline-block;
    margin: 0 0.5rem;
    align-items: center;
    color: aquamarine;


}


/* #li1 {
    align-items: center;
    margin-right: 66.5%;
    margin-left: 25%;
    border-style: groove;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;


}

#li2 {
    align-items: center;
    margin-right: 68%;
    margin-left: 25%;
    border-style: groove;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;
}

#li3 {
    align-items: center;
    margin-right: 66%;
    margin-left: 25%;
    border-style: groove;
    border-width: 3px;
    border-right-width: 5px;
    border-color: azure;

} */
.imgGif {
    align-items: center;
}



footer {

    background-color: black;
    padding: 75px 40% 50px;
    color: darkgrey;
    margin-top: 75%;
    border-style: double;



}

/* footer h4 {}

footer ul {}

footer ul li {} */